.reminder-container {
    display: flex;
    margin-left: 40px; 
    margin-top: 2px;
    align-items: center;
    margin-bottom: 5px;
}

.reminder-container p {
    font-size: 1.4rem;
    margin: 0;
    margin-right: 8px;
}

.material-symbols-outlined {
  color: red; 
  cursor: pointer;
  font-size: 1.6rem;
}
